[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/resource_controller"]
	path = vendor/plugins/resource_controller
	url = git://github.com/giraffesoft/resource_controller.git
[submodule "vendor/plugins/dovetail"]
	path = vendor/plugins/dovetail
	url = git@github.com:mojodna/dovetail.git
